<div class="container" >
  <%= form_with(model: item, local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_area :name %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>

    <div class="field">
      <%= form.label :color %>
      <%= form.text_field :color %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>

    <div class="field">
      <%= form.label :info_tech %>
      <%= form.text_area :info_tech %>
    </div>
    <%= form.file_field :item_image %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>